body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 15%;
  background-color: #1c2438;
}

.content {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 85%;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #151929;
}

.nav-icons {
  height: 100%;
}

.text-block {
  color: #fff;
  font-size: 2.5vw;
  line-height: 1;
  font-weight: 500;
}

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 85%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-1 {
  height: 20vh;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #1c2438;
}

.metric-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  margin-bottom: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.widget-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.panel {
  position: fixed;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #1c2438;
}

.panel._4 {
  margin-right: 0px;
}

.panel.chart {
  width: 55%;
  height: 35%;
}

.panel.crisis-log {
  right: 15px;
}

.chart {
  background-color: #1c2438;
}

.map {
  background-color: #1c2438;
}

.circadian-risk {
  background-color: #1c2438;
}

.crisis-log {
  background-color: #1c2438;
}

.metric {
  height: 100%;
  margin-right: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #1c2438;
}

.metric._4 {
  margin-right: 0px;
}

.html-embed {
  position: fixed;
  left: 0px;
  top: 0px;
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.widget-heading {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

#w-node-_37c4f769-e0dd-a897-e334-14b497d61d7f-b98347ba {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-de062c67-5fe0-696b-175a-f68de76d2361-b98347ba {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_624db74e-cc67-53c5-208a-41c04d9c04d9-b98347ba {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}

#w-node-ac4c2647-235b-8ee2-de1f-1b7651de706d-b98347ba {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}